@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="background-color: green; width: 500px; margin: auto; border: 1px solid black">
        <a asp-page="hra" style="width: 100%; display: block">Začít hrát</a>
    </div>
</div>
