@page
@model HangMANFinal.Pages.vyhraModel
@{
    ViewData["Title"] = "vyhra";
}

<h1 style="color:red; background-color: lightblue; text-align: center; width: 100%">VYHRAL JSI</h1>

<div style="background-color: lightyellow; width: 500px; margin: auto; border: 1px solid black">
    <a asp-page="hra" style="width: 100%; display: block; text-align: center">Nová hra</a>
</div>

<div style="background-color: lightyellow; width: 500px; margin: auto; border: 1px solid black; margin-top: 30px">
    <a asp-page="Index" style="width: 100%; display: block; text-align: center">Index</a>
</div>