@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hangman.</h1>
    <p>Přihlaš se a hraj hangmana</p>
    <div class="text-center">
        
        <div asp-for="slovo"/>
        <input asp-for="vstup" />
    </div>
</div>
